[Unit]
Description=Docker cleanup to remove old assets

[Service]
ExecStart=/bin/bash -c 'docker system prune --all --force --filter="until=$((15*24))h"'

[Install]
WantedBy=multi-user.target
